/* Header */
* {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    color: #fff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid */
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    position: fixed;
    top: 0;
    width: 99vw
  
  }
  
  a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px
  }
  header a:nth-of-type(4){
    background: #0080ff;
    border: 1px royalblue solid;
  }
  header a:nth-of-type(5){
    background: transparent;
    border: 1px #0080ff solid;
  }
  header .right{
    display: flex;
    gap: 10px;
  } 
  /* Header */